/* ================================
  GENERAL STYLES
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
  }

  /* ===============================
    MAIN STYLES
  =============================== */
  header {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF8EF;
    color: #ae2012;
    box-shadow: 0px 1px 3px 0px rgba(210,210,210,0,0.5);
  }

  body {
    height: 100vh;
    background-color: #e9d8a6;
  }

  a.github {
    text-decoration: none;
    color: #ae2012;
  }

  .grid-container {
    width: 50%;
    margin: 25px auto;
    height: calc(100vh - 150px);
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
  }

  .grid-container ~ section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    padding: 5px;
    margin-right: 10px;
    background-color: #E83221;
    border: 1px solid #FBF8EF;
    color: #FBF8EF;
    cursor: pointer;
  }

  button i {
    margin-right: 5px;
  }

  button:hover {
    background-color: #ae2012;
  }

  .change-grid-size-popup {
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    width: max-content;
    background-color: #e9d8a6;
    box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.3);
  }

  input {
    padding: 5px 10px;
  }

  input[type="text"] {
    outline: 1px solid blue;
  }

  input[type="submit"] {
    background-color: #E83221;
    border: 1px solid #FBF8EF;
    color: #FBF8EF;
    font-weight: bold;
  }

  input[type="submit"]:hover {
    background-color: #ae2012;
  }

  /* ============================= 
  JAVASCRIPT TRIGERRED STYLES
  ============================= */
  .grid-row {
    width: 100%;
    display: flex;
  }

  .grid-column {
    height: 100%;
    flex: 1;
    border: 1px solid grey;
  }